/*font*/
$fontsize_xxl : 36px;
$fontsize_xl : 24px;
$fontsize_l : 20px;
$fontsize_m : 15px;

$fontsize_title : 16px;
$fontsize_content : 14px;

/*color*/
$blackish_green : #041319;
$gray : #d5d7dd;
$dark_gray : #707484;
$blue : #67b4e0;
$grey_black : #141414;
$grey_black2 : #1a1a1a;
$grey_black3 : #2d2d2d;

/*common*/
$common_width : 1080px;



