@charset "UTF-8";
/*引入基础文件*/
/* line 1, ../sass/_reset.scss */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* line 6, ../sass/_reset.scss */
html {
  height: 100%;
}

/* line 9, ../sass/_reset.scss */
body {
  font-family: '微软雅黑';
  font-size: 14px;
  height: auto;
  color: #ccc;
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
}

/* line 18, ../sass/_reset.scss */
li {
  list-style: none;
}

/* line 21, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #eee;
}

/* line 25, ../sass/_reset.scss */
a:hover {
  color: #20b8c5;
}

/*font*/
/*color*/
/*common*/
/*字体样式*/
/*定位*/
/*图片定位*/
/*精灵图*/
/* line 56, header/*.png */
.header-sprite, .header-chooselan, .header-logo {
  background-image: url('/images/header-s382d500d66.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.header-chooselan {
  background-position: 0 0;
  height: 40px;
  width: 40px;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.header-logo {
  background-position: 0 -40px;
  height: 32px;
  width: 140px;
}

/*变量定义*/
/* line 17, ../sass/_header.scss */
.header {
  width: 100%;
  height: 70px;
  background: #041319;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99999999;
  display: block;
  font-size: 15px;
}

/* line 29, ../sass/_header.scss */
.header_fill {
  width: 100%;
  height: 70px;
}

/* line 34, ../sass/_header.scss */
.header_bar {
  color: #fff;
  cursor: default;
  width: 1080px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
/* line 42, ../sass/_header.scss */
.header_bar .logo {
  margin-top: 19px;
  margin-left: 0px;
  float: left;
}
/* line 46, ../sass/_header.scss */
.header_bar .logo a {
  height: 70px;
  width: 140px;
  cursor: pointer;
  display: block;
  margin-top: -19px;
}
/* line 54, ../sass/_header.scss */
.header_bar dl {
  width: 115px;
  height: 70px;
  line-height: 70px;
  position: absolute;
  text-align: right;
  top: 0;
  right: 0;
  padding-right: 35px;
}
/* line 66, ../sass/_header.scss */
.header-chooselan {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 15px;
}
/* line 76, ../sass/_header.scss */
.header_bar dd {
  display: none;
}

/* line 81, ../sass/_header.scss */
.header_nav {
  float: right;
  padding-right: 115px;
  height: 70px;
  line-height: 70px;
}
/* line 86, ../sass/_header.scss */
.header_nav a {
  text-decoration: none;
  padding: 0 15px;
}

/*变量定义*/
/*精灵图*/
/* line 48, footer/*.png */
.footer-sprite, .footer-logo {
  background-image: url('/images/footer-sa3c1b9c6a5.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.footer-logo {
  background-position: 0 0;
  height: 32px;
  width: 140px;
}

/* line 11, ../sass/_footer.scss */
#footer {
  min-width: 1080px;
  width: 100%;
  background: #d5d7dd;
  font-size: 15px;
  padding: 15px 0;
}

/* line 19, ../sass/_footer.scss */
.footer {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

/* line 25, ../sass/_footer.scss */
.message {
  width: 850px;
}
/* line 27, ../sass/_footer.scss */
.message li {
  color: #707484;
  height: 28px;
  line-height: 28px;
}
/* line 32, ../sass/_footer.scss */
.message .font_stress {
  font-weight: bold;
}

/* line 37, ../sass/_footer.scss */
.footerlogo {
  position: absolute;
  top: 25px;
  right: 30px;
}

/*样式*/
/* line 7, ../sass/about.scss */
.root {
  min-width: 1080px;
  background-color: black;
  color: white;
}

/* line 13, ../sass/about.scss */
.block1 {
  background: url("../images/about/bk1.png") no-repeat center center;
  height: 816px;
}

/* line 18, ../sass/about.scss */
.b2-text1 {
  width: 100%;
  text-align: center;
  font-size: 36px;
}

/* line 24, ../sass/about.scss */
.b2-box {
  height: 316px;
  width: 760px;
  margin: 0 auto 50px;
  background: url("../images/about/box.png") no-repeat 0 0;
  position: relative;
}

/* line 32, ../sass/about.scss */
.b2-boxlogo {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 310px;
  top: 132px;
  background: url("../images/about/logo.gif") no-repeat 0 0;
}

/* line 41, ../sass/about.scss */
.b2-text1 {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

/* line 45, ../sass/about.scss */
.b3-img {
  height: 800px;
  margin: 120px auto 60px;
  background: url("../images/about/devs.jpg") no-repeat center center;
}

/* line 51, ../sass/about.scss */
.b3-text1 {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

/* line 55, ../sass/about.scss */
.b4-img {
  margin-top: 20px;
  height: 317px;
  background: url("../images/about/bottom.jpg") no-repeat center center;
}
